body {
    background-color: grey;
    margin: 0;
}

header {
    background: linear-gradient(30deg, darkblue, blue);
    color: white;
    padding: 1px 3%;
}

main {
    padding: 1px 10%;
}

a {
    color: black;
}
